<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="RetainedFileCountLimit" value=""/>
		<add key="LogDir" value="C:\logs"/>
		<add key="LogFileName" value="LoggingTestConsole.log"/>
		<add key="RollOnFileSizeLimit" value=""/>
		<add key="RollingInterval" value=""/>
		<add key="BatchSizeLimit" value=""/>
		<add key="CreateLogGroup" value=""/>
		<add key="LogGroupName" value="HangFire"/>
		<add key="LogLevel" value="Debug"/>
		<add key="UseCompactFormatter" value=""/>
		<add key="Period" value=""/>
		<add key="QueueSizeLimit" value=""/>
		<add key="Retention-Policy" value=""/>
		<add key="RetryAttempts" value=""/>
	</appSettings>
</configuration>
